<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Vacation Management
                    </a>
                </li>
                <li>
                    <a href="#">
                        About App
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{footerDate | date: 'yyyy'}}
        </div>
    </div>
</footer>
